*{
    box-sizing: border-box;
}
    header {
    border: #fafafa 2px solid;
    text-align: left;
    font-family: 'Product Sans';
    overflow: auto;
    background-color: #fafafa;
    margin-top: -8px;
    margin-left: -8px;
    margin-right: -8px;
}
@font-face {
    color: white;
    font-family: 'Product Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans'), local('OpenSans'), url(https://fonts.gstatic.com/s/productsans/v5/HYvgU2fE2nRJvZ5JFAumwegdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
}
section {
    text-align: justify;
    font-family: 'Product Sans';
    color: white;
}
.transition-img{
    opacity:100%;
}
.transition-img:hover{
    opacity:50%;
    transition:opacity; 
}
body{
    min-width: 960px; 
    max-width: 100%; 
}
a{
    text-decoration: none; 
    color: white;
    font-family: 'Product Sans'
}
aside{
    float: left; 
    margin-top: 1%;
    padding-right: 1%;
    width: 25%;  
    border-right: 2px solid black;
    border-left: none;
    border-bottom: none;
    border-top: none;
}
article{
    text-align: justify;
    font-family: 'Product Sans';
    color: white;
    overflow: auto;
}
hr{
    border: 1px black solid;
}
ul{
    display: inline;
    text-decoration: none;
    list-style-type: none;
}
li{
    display: inline;
    text-decoration: none;
    list-style-type: none;
    padding-right: 5px;
    margin: 0;
}
nav{
    background-color: black;
    margin-left: -8px;
    margin-right: -8px;
    position: sticky;
    top: 0;
    right: 0;
    left: 0;
}
li:hover{
    background-color: gray;
}
  #navlist li {
    list-style: none;
    position: absolute;
  }
  #navlist li, #navlist a {
    display: inline;
  }
#facebook{
    background: url(../images/FB\ Sprite.png) no-repeat 0 0;
    height: 40px;
    width: 40px;
    left:0;
    background-size: 40px;
}
#x{
    background: url(../images/X\ Sprite.png) no-repeat 0 0;
    height: 40px;
    width: 40px;
    left: 63px;
    background-size: 40px;
}
#instagram{
    background: url(../images/Instagram\ Logo.gif) no-repeat 0 0;
    height: 40px;
    width: 40px;
    left: 129px;
    background-size: 40px;
}
#facebook:hover{
    background: url(../images/Facebook\ Logo.png) no-repeat 0 0;
    height: 40px;
    width: 40px;
    left:0;
    background-size: 40px;
}
#x:hover{
    background: url(../images/X\ Logo.png) no-repeat 0 0;
    height: 40px;
    width: 40px;
    left: 63px;
    background-size: 40px;
}
#instagram:hover{
    background: url(../images/Instagram\ Logo.gif) no-repeat 0 0;
    height: 40px;
    width: 40px;
    left: 129px;
    background-size: 40px;
}
    
