*{
    box-sizing: border-box;
}
    header {
    border: #fafafa 2px solid;
    text-align: left;
    font-family: 'Product Sans';
    overflow: auto;
    background-color: #fafafa;
    margin-top: -8px;
    margin-left: -8px;
    margin-right: -8px;
}
@font-face {
    color: white;
    font-family: 'Product Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans'), local('OpenSans'), url(https://fonts.gstatic.com/s/productsans/v5/HYvgU2fE2nRJvZ5JFAumwegdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
}
section {
    text-align: justify;
    font-family: 'Product Sans';
    color: white;
}
.transition-img{
    opacity:100%;
}
.transition-img:hover{
    opacity:50%;
    transition:opacity; 
}
body{
    min-width: 960px; 
    max-width: 100%; 
}
a{
    text-decoration: none; 
    color: white;
    font-family: 'Product Sans'
}
aside{
    float: left; 
    margin-top: 1%;
    padding-right: 1%;
    width: 25%;  
    border-right: 2px solid black;
    border-left: none;
    border-bottom: none;
    border-top: none;
}
article{
    text-align: justify;
    font-family: 'Product Sans';
    color: white;
    overflow: auto;
}
hr{
    border: 1px black solid;
}
ul{
    display: inline;
    text-decoration: none;
    list-style-type: none;
    padding: 0;
    margin: 0
}
li{
    display: inline;
    text-decoration: none;
    list-style-type: none;
    margin-top: 5px;
    padding: 5px;
    float: right;
}
nav{
    background-color: black;
    margin-left: -8px;
    margin-right: -8px;
    position: sticky;
    top: 0;
    right: 0;
    left: 0;
    height: 50px;
    z-index: 1;
}
li:hover{
    background-color: gray;
}
#navlist li {
    list-style: none;
    position: absolute;
    z-index: 5;
}
#navlist li, #navlist a {
    display: inline;
}
@keyframes facebook {
    from {left: 0px;}
    to {left: 120px;}
}
@keyframes x {
    from {left: 0px;}
    to {left: 70px;}
}
@keyframes insta {
    from {left: 0px;}
    to {left: 10px;}
  }
#facebook{
    background: url(../images/FB\ Sprite.png) no-repeat 0 0;
    width: 40px; height: 40px;
    left: 120px;
    animation: facebook 3s none;
}
#x{
    background: url(../images/X\ Sprite.png) no-repeat -70px -10px;
    height: 40px;
    width: 40px;
    left: 70px;
    animation: x 3s none;
}
#instagram{
    background: url(../images/Instagram\ Sprite.png) no-repeat -90px -10px;
    height: 40px;
    width: 40px;
    left: 10px;
    animation: insta 2s none;
}
#facebook:hover{
    background: url(../images/FB\ Sprite.png) no-repeat -40px 2px;
    height: 40px;
    width: 40px;
    left: 119px;
}
#x:hover{
    background: url(../images/X\ Sprite.png) no-repeat -10px -10px;
    height: 40px;
    width: 40px;
    left: 63px;
}
#instagram:hover{
    background: url(../images/Instagram\ Sprite.png) no-repeat -20px -10px;
    height: 40px;
    width: 40px;
    left: 5px;
}
    
